@font-face
    font-family: 'Neucha'
    src: url('neucha-webfont.eot')
    src: url('neucha-webfont.eot?#iefix') format('embedded-opentype')
    src: url('neucha-webfont.woff') format('woff')
    src: url('neucha-webfont.ttf') format('truetype')
    src: url('neucha-webfont.svg#Neucha') format('svg')
    font-weight: normal
    font-style: normal

html *, body *
    margin: 0
    padding: 0
    resize: 0
    outline: 0

body
    font-family: Neucha, 'MS Serif', 'New York', sans-serif
    color: white
    font-size: 16px
    background: url(broken_noise.png)

#wrapper
    margin: 0 auto
    max-width: 800px 
    padding: 15% 15px 0
    
h1
    color: white
    font-size: 400%
    opacity: 0.5
    text-align: center
    margin-bottom: 10px
